<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
<h2>Email Sender <small>Input user to send an email to</small></h2>
<form name="suform" action="/" method="POST">
	<div class="form-group">
		<label for="userId">User ID</label>
		<input type="text" size="25" name="userId" placeholder="user id" class="form-control"/>
	</div>
	<input type="submit" value="Submit" class="btn btn-default">
</form>
</body>
</html>